DJANGO_SETTINGS_MODULE=config.settings.dev
SECRET_KEY=change-me
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1
DATABASE_URL=
DB_NAME=chronograph
DB_USER=chronograph
DB_PASSWORD=chronograph
DB_HOST=db
DB_PORT=5432
SUPERUSER_USERNAME=admin
SUPERUSER_EMAIL=admin@example.com
SUPERUSER_PASSWORD=admin12345
DEFAULT_STAFF_USERNAME=Истобщество
DEFAULT_STAFF_PASSWORD=12345
DEFAULT_STAFF_EMAIL=staff@example.com
HISTORY_CALENDAR_BASE_URL=https://historyrussia.org/sobytiya/den-v-istorii.html
HISTORY_CALENDAR_TIMEOUT=20
HISTORY_CALENDAR_RETRIES=3
HISTORY_CALENDAR_SLEEP=0.5
HISTORY_CALENDAR_DEFAULT_PAGES=3
HISTORY_CALENDAR_WITH_DETAILS=1
HISTORY_CALENDAR_FROM_PAGE=1
HISTORY_CALENDAR_CRON=0 3 * * *
TZ=Europe/Moscow
